pydantic
pymongo
dotenv
werkzeug
matplotlib
fastapi
uvicorn
jinja2 
python-multipart 
fastapi-sessions
plotly
yfinance
fastapi-users
bcrypt 
passlib
simpy
colorama
pytest
pytest-asyncio
pytest-cov
pytest-mock