{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-light">
                <h5 class="card-title">{{ asteroid.full_name }}</h5>
                <p><strong>Class:</strong> {{ asteroid.class_ }} (C: Carbonaceous, M: Metallic, S: Stony)</p>
                <p><strong>Diameter:</strong> {{ asteroid.diameter|default('N/A') }} km - Estimated diameter of the asteroid.</p>
                <p><strong>Mass:</strong> {{ asteroid.mass|int if asteroid.mass is defined else 'N/A' }} kg</p>
                <p><strong>Value:</strong> ${{ "{:,.0f}".format(asteroid.value|int) if asteroid.value is defined else 'N/A' }}</p>
                <p><strong>MOID:</strong> {{ asteroid.moid|default('N/A') }} AU - Minimum Orbit Intersection Distance, the closest distance between the asteroid’s orbit and Earth’s orbit.</p>
                <p><strong>MOID Days:</strong> {{ asteroid.moid_days }} days - Estimated travel time to the asteroid based on its MOID.</p>
                <h6>Elements</h6>
                <div class="event-list">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Element</th>
                                <th>Mass (kg)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for element in asteroid.elements %}
                            <tr>
                                <td><a href="/elements/{{ element.name }}">{{ element.name }}</a></td>
                                <td>{{ element.mass_kg }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}