{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-light">
                <h5 class="card-title">{{ element.name }} ({{ element.symbol }})</h5>
                <p><strong>Atomic Number:</strong> {{ element.number }}</p>
                <p><strong>Atomic Mass:</strong> {{ element.atomic_mass }}</p>
                <p><strong>Category:</strong> {{ element.category }}</p>
                <p><strong>Phase:</strong> {{ element.phase }}</p>
                <p><strong>Discovered By:</strong> {{ element.discovered_by|default('N/A') }}</p>
                <p><strong>Summary:</strong> {{ element.summary }}</p>
                <p><strong>Uses:</strong> {{ element.uses|join(", ") }}</p>
                <p><strong>Electron Configuration:</strong> {{ element.electron_configuration }}</p>
                <p><strong>Electronegativity (Pauling):</strong> {{ element.electronegativity_pauling|default('N/A') }}</p>
                <p><strong>Melting Point:</strong> {{ element.melt|default('N/A') }} K</p>
                <p><strong>Boiling Point:</strong> {{ element.boil|default('N/A') }} K</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}